/* Estilos personalizados */
#file-upload {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
}

.custom-file-upload:hover {
  background-color: #e0e0e0;
}

#students-table th,
#students-table td {
  border-bottom: 1px solid #4a5568;
}

#students-table th {
  background-color: #2d3748;
}

#students-table tbody tr:hover {
  background-color: #4a5568;
}

/* Estilos para SweetAlert2 */
.swal2-popup {
  background-color: #2d3748 !important;
  color: #fff !important;
}

.swal2-title {
  color: #fff !important;
}

.swal2-html-container {
  color: #ccc !important;
}

.swal2-select {
  background-color: #4a5568 !important;
  color: #fff !important;
  border: 1px solid #718096 !important;
}

.swal-wide {
  width: 90% !important;
  max-width: 1200px;
}

#grades-table th,
#grades-table td {
  border-bottom: 1px solid #5a6578;
  padding: 8px 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px; /* Adjust as needed */
}

#grades-table th {
  background-color: #3d4758;
  position: sticky;
  top: 0;
}

#grades-table tbody tr:hover {
  background-color: #5a6578;
}
